Source: gpdb
Section: unknown
Priority: optional
Maintainer: Vladimir Rachkin <vova@kpnn.ru>
Build-Depends: debhelper-compat (= 13), autotools-dev
Standards-Version: 6.27.6666
Homepage: <insert the upstream URL, if relevant>
Vcs-Browser: https://github.com/open-gpdb/gpdb
Vcs-Git: https://github.com/open-gpdb/gpdb.git
Rules-Requires-Root: no

Package: gpdb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
